.wrapper,
.wrapper2 {
  display: grid;
}

.wrapper3,
.wrapper4 {
  display: flex;
  flex-direction: column;
}

.Container1,
.Container2,
.Container3 {
  display: flex;
  width: 100%;
}

.wrapper .one {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .one {
  border-radius: 10pc;
}

.wrapper3 .one {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .one {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .two {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .two {
  border-radius: 10pc;
}

.wrapper3 .two {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .two {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .three {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .three {
  border-radius: 10pc;
}

.wrapper3 .three {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .three {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .four {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .four {
  border-radius: 10pc;
}

.wrapper3 .four {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .four {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .five {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .five {
  border-radius: 10pc;
}

.wrapper3 .five {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .five {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .six {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .six {
  border-radius: 10pc;
}

.wrapper3 .six {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .six {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .seven {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .seven {
  border-radius: 10pc;
}

.wrapper3 .seven {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .seven {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .eight {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .eight {
  border-radius: 10pc;
}

.wrapper3 .eight {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .eight {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .nine {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .nine {
  border-radius: 10pc;
}

.wrapper3 .nine {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .nine {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

:root {
  --font-stack: Avenir, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --border-radius: 1pc;
}

.wrapper,
.wrapper2 {
  display: grid;
}

.wrapper3,
.wrapper4 {
  display: flex;
  flex-direction: column;
}

.Container1,
.Container2,
.Container3 {
  display: flex;
  width: 100%;
}

.wrapper .one {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .one {
  border-radius: 10pc;
}

.wrapper3 .one {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .one {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .one:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .two {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .two {
  border-radius: 10pc;
}

.wrapper3 .two {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .two {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .two:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .three {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .three {
  border-radius: 10pc;
}

.wrapper3 .three {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .three {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .three:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .four {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .four {
  border-radius: 10pc;
}

.wrapper3 .four {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .four {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .four:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .five {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .five {
  border-radius: 10pc;
}

.wrapper3 .five {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .five {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .five:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .six {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .six {
  border-radius: 10pc;
}

.wrapper3 .six {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .six {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .six:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .seven {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .seven {
  border-radius: 10pc;
}

.wrapper3 .seven {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .seven {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .seven:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .eight {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .eight {
  border-radius: 10pc;
}

.wrapper3 .eight {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .eight {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .eight:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper .nine {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 20%;
  font-family: var(--font-stack);
}
.wrapper .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper2 .nine {
  border-radius: 10pc;
}

.wrapper3 .nine {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper3 .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper4 .nine {
  margin: 10px;
  height: 150px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-stack);
  padding: 5%;
  width: 33%;
  font-size: 20px;
}
.wrapper4 .nine:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
}

:root {
  --font-stack: Avenir, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --border-radius: 1pc;
}

.header-flex, .header-grid {
  border-bottom: 10px rgba(20, 162, 255, 0.2) solid;
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(20, 162, 255, 0.2);
}
.header-flex:hover, .header-grid:hover {
  border-bottom: 10px rgba(20, 162, 255, 0.6) solid;
}

.header-flex {
  background-color: rgba(87, 166, 163, 0.2);
  border-bottom: 10px rgba(87, 166, 163, 0.2) solid;
}
.header-flex:hover {
  border-bottom: 10px rgba(87, 166, 163, 0.6) solid;
}

.wrapper,
.wrapper2 {
  display: grid;
}

.wrapper3,
.wrapper4 {
  display: flex;
  flex-direction: column;
}

.Container1,
.Container2,
.Container3 {
  display: flex;
  width: 100%;
}

h1 {
  color: #14a2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 20%;
}
.wrapper .one,
.wrapper .two,
.wrapper .three,
.wrapper .four,
.wrapper .five,
.wrapper .six,
.wrapper .seven,
.wrapper .eight {
  background-color: #14a2ff;
}
.wrapper .one {
  grid-column: 1;
  grid-row: 1/3;
  background-color: #c05f72;
  font-size: 15px;
  color: white;
}
.wrapper .two {
  grid-column: 1;
  grid-row: 3;
  background-color: #88bee2;
  font-size: 15px;
  color: black;
}
.wrapper .three {
  grid-column: 2;
  grid-row: 1/2;
  background-color: #efb07a;
  font-size: 15px;
  color: black;
}
.wrapper .four {
  grid-column: 3;
  grid-row: 1;
  background-color: #f5ead4;
  font-size: 15px;
  color: black;
}
.wrapper .five {
  grid-column: 2;
  grid-row: 2;
  background-color: #6675a0;
  font-size: 15px;
  color: white;
}
.wrapper .six {
  grid-column: 3;
  grid-row: 2;
  background-color: #ee8a8a;
  font-size: 15px;
  color: black;
}
.wrapper .seven {
  background-color: #57a6a3;
  font-size: 15px;
  color: white;
}
.wrapper .eight {
  background-color: #c5ae84;
  font-size: 15px;
  color: white;
}

.wrapper2 {
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 9%;
  margin: 0 25%;
  border: 5px solid #14a2ff;
  border-radius: 40pc;
}
.wrapper2 .one {
  grid-column: 1/8;
  grid-row: 1;
}
.wrapper2 .two {
  grid-column: 2/4;
  grid-row: 2;
}
.wrapper2 .three {
  grid-column: 5/7;
  grid-row: 2;
}
.wrapper2 .four {
  grid-column: 4;
  grid-row: 3;
}
.wrapper2 .five {
  grid-column: 3/6;
  grid-row: 4;
}
.wrapper2 .six {
  grid-column: 1/8;
  grid-row: 5;
}
.wrapper2 .one,
.wrapper2 .two,
.wrapper2 .three,
.wrapper2 .four,
.wrapper2 .five,
.wrapper2 .six,
.wrapper2 .seven,
.wrapper2 .eight {
  background-color: #14a2ff;
}

.wrapper3 {
  width: 50%;
  padding: 0 25%;
}
.wrapper3 .one {
  background-color: #aea0db;
  font-size: 15px;
  color: black;
}
.wrapper3 .two {
  background-color: #6675a0;
  font-size: 15px;
  color: white;
}
.wrapper3 .three {
  background-color: #bb6c6c;
  font-size: 15px;
  color: white;
}
.wrapper3 .four {
  background-color: #88bee2;
  font-size: 15px;
  color: black;
}
.wrapper3 .five {
  background-color: #fdd66f;
  font-size: 15px;
  color: black;
}
.wrapper3 .six {
  background-color: #f5ead4;
  font-size: 15px;
  color: black;
}
.wrapper3 .seven {
  background-color: #f5ead4;
  font-size: 15px;
  color: black;
}
.wrapper3 .eight {
  background-color: #57a6a3;
  font-size: 15px;
  color: white;
}
.wrapper3 .nine {
  background-color: #c5ae84;
  font-size: 15px;
  color: white;
}

.h1-flex {
  color: #57a6a3;
}

.wrapper4 {
  width: 40%;
  padding: 0 30%;
}
.wrapper4 .one {
  background-color: #aea0db;
  font-size: 15px;
  color: black;
}
.wrapper4 .two {
  background-color: #6675a0;
  font-size: 15px;
  color: white;
  border-radius: 20pc;
}
.wrapper4 .three {
  background-color: #bb6c6c;
  font-size: 15px;
  color: white;
}
.wrapper4 .four {
  background-color: #88bee2;
  font-size: 15px;
  color: black;
}

.wrapper3 > .Container2 > .four,
.wrapper3 > .Container2 > .six {
  width: 40%;
}

.wrapper4 > .Container1 > .one {
  border: 5px solid black;
}/*# sourceMappingURL=styles.css.map */