.neuHeader {
  display: flex;
  background-color: #4d7ea9;
}

.neuHeadingText {
  color: white;
  margin-left: 2.5%;
}

li {
  list-style-type: none;
  display: flex;
  font-size: large;
  padding-left: 2.5%;
}

.headerContainer {
  width: 80%;
}

.links {
  margin: 0 20px 0 0;
  color: white;
}

a {
  color: white;
}

a:visited {
  color: darkblue;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4d7ea9;
  color: white;
}

.neuFooter {
  display: flex;
  padding: 15px 10px;
}

.neuFooterContainer {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

body {
  margin-top: 125px;
  margin-bottom: 40px;
}

.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

menu {
  display: flex;
  padding-left: 0;
}

.phoneContainer {
  display: flex;
}

.phoneMe,
.emailMe {
  padding-left: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
