label {
  float: left;
  width: 150px;
}
#container {
  width: 100%;
  margin: auto;
  background-color: beige;
}
main {
  padding: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

table,
th,
td {
  border: 1px solid;
}

.table-header {
  text-align: center;
}

input[type="text" i] {
  width: 250px;
}

textarea,
#rating {
  width: 250px;
}

.hidden {
  display: none;
}
