.neuLogo {
  padding: 100px;
}

body {
  background-color: white;
}

.loginHeading {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

#LoginButton {
  background-color: red;
  border-color: red;
  margin-bottom: 50px;
}

:disabled {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.error {
  color: red;
}

#Welcome {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.buttonAlign {
  display: flex;
  justify-content: center;
}

.buttonAlign > button {
  margin: 0 10px;
}
