@use "sass:math";
@import "config";
@import "header";
@import "utilities";

h1 {
  color: #14a2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0 20%;

  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    background-color: $fill-color;
  }

  .one {
    grid-column: 1;
    grid-row: 1/3;
    @include set-layout(#c05f72);
  }

  .two {
    grid-column: 1;
    grid-row: 3;
    @include set-layout(#88bee2);
  }

  .three {
    grid-column: 2;
    grid-row: 1/2;
    @include set-layout(#efb07a);
  }

  .four {
    grid-column: 3;
    grid-row: 1;
    @include set-layout(#f5ead4);
  }

  .five {
    grid-column: 2;
    grid-row: 2;
    @include set-layout(#6675a0);
  }

  .six {
    grid-column: 3;
    grid-row: 2;
    @include set-layout(#ee8a8a);
  }

  .seven {
    @include set-layout(#57a6a3);
  }

  .eight {
    @include set-layout(#c5ae84);
  }
}

.wrapper2 {
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 9%;
  margin: 0 25%;
  border: 5px solid $fill-color;
  border-radius: 40pc;
  .one {
    grid-column: 1/8;
    grid-row: 1;
  }

  .two {
    grid-column: 2/4;
    grid-row: 2;
  }

  .three {
    grid-column: 5/7;
    grid-row: 2;
  }

  .four {
    grid-column: 4;
    grid-row: 3;
  }

  .five {
    grid-column: 3/6;
    grid-row: 4;
  }

  .six {
    grid-column: 1/8;
    grid-row: 5;
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight {
    background-color: $fill-color;
  }
}

.wrapper3 {
  width: 50%;
  padding: 0 25%;

  .one {
    @include set-layout(#aea0db);
  }

  .two {
    @include set-layout(#6675a0);
  }

  .three {
    @include set-layout(#bb6c6c);
  }

  .four {
    @include set-layout(#88bee2);
  }

  .five {
    @include set-layout(#fdd66f);
  }

  .six {
    @include set-layout(#f5ead4);
  }

  .seven {
    @include set-layout(#f5ead4);
  }

  .eight {
    @include set-layout(#57a6a3);
  }

  .nine {
    @include set-layout(#c5ae84);
  }
}

.h1-flex {
  color: $fill-color2;
}

$colorsflex: (
  first: #aea0db,
  second: #6675a0,
  third: #bb6c6c,
  fourth: #88bee2,
);

.wrapper4 {
  width: 40%;
  padding: 0 30%;

  .one {
    // Using the Map function to get colors
    @include set-layout(map-get($colorsflex, first));
  }

  .two {
    @include set-layout(map-get($colorsflex, second));
    // SassScript Expressions
    border-radius: $border-radius * 20;
  }

  .three {
    @include set-layout(map-get($colorsflex, third));
  }

  .four {
    @include set-layout(map-get($colorsflex, fourth));
  }
}

.wrapper3 > .Container2 > .four,
.wrapper3 > .Container2 > .six {
  // Sass built-in functions
  width: percentage(math.div(4, 10));
}

.wrapper4 > .Container1 > .one {
  border: if($border-available, 5px solid black, null);
  // Hidden Declarations
}
